USE [master]
GO
/****** Object:  Database [PHANMEMBANTRASUA]    Script Date: 15/01/2021 1:36:16 CH ******/
CREATE DATABASE [PHANMEMBANTRASUA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHANMEMBANTRASUA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PHANMEMBANTRASUA.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PHANMEMBANTRASUA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PHANMEMBANTRASUA_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PHANMEMBANTRASUA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PHANMEMBANTRASUA]
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [int] NOT NULL,
	[MADU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOUONG]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOUONG](
	[MADU] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIDOUONG] [int] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIA] [money] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MADU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIAN] [date] NOT NULL,
	[TONG] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIDOUONG]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDOUONG](
	[MALOAIDOUONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIDOUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [nvarchar](50) NOT NULL,
	[TENHIENTHI] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL DEFAULT ((0)),
	[LOAITK] [int] NOT NULL DEFAULT ((0))
PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([ID], [MAHOADON], [MADU], [SOLUONG]) VALUES (1, 1, 4, 1)
INSERT [dbo].[CHITIETHOADON] ([ID], [MAHOADON], [MADU], [SOLUONG]) VALUES (2, 2, 6, 1)
INSERT [dbo].[CHITIETHOADON] ([ID], [MAHOADON], [MADU], [SOLUONG]) VALUES (3, 2, 9, 1)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
SET IDENTITY_INSERT [dbo].[DOUONG] ON 

INSERT [dbo].[DOUONG] ([MADU], [MALOAIDOUONG], [TEN], [GIA]) VALUES (1, 1, N'Trà Sữa Matcha', 16000.0000)
INSERT [dbo].[DOUONG] ([MADU], [MALOAIDOUONG], [TEN], [GIA]) VALUES (2, 1, N'Trà Sữa Thái', 12000.0000)
INSERT [dbo].[DOUONG] ([MADU], [MALOAIDOUONG], [TEN], [GIA]) VALUES (3, 1, N'Trà Sữa Việt Quất', 12000.0000)
SET IDENTITY_INSERT [dbo].[DOUONG] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [THOIGIAN], [TONG]) VALUES (1, CAST(N'2021-01-15' AS Date), 14000)
INSERT [dbo].[HOADON] ([MAHOADON], [THOIGIAN], [TONG]) VALUES (2, CAST(N'2021-01-15' AS Date), 24000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[LOAIDOUONG] ON 

INSERT [dbo].[LOAIDOUONG] ([MALOAIDOUONG], [TENLOAI]) VALUES (1, N'Trà Sữa')
INSERT [dbo].[LOAIDOUONG] ([MALOAIDOUONG], [TENLOAI]) VALUES (2, N'Trà ')
INSERT [dbo].[LOAIDOUONG] ([MALOAIDOUONG], [TENLOAI]) VALUES (3, N'Hồng Kem Cheese')
SET IDENTITY_INSERT [dbo].[LOAIDOUONG] OFF
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [TENHIENTHI], [MATKHAU], [LOAITK]) VALUES (N'HUY', N'Nguyễn Quang Huy', N'456', 0)
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [TENHIENTHI], [MATKHAU], [LOAITK]) VALUES (N'LONG', N'Bùi Phúc Long', N'123', 1)
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MADU])
REFERENCES [dbo].[DOUONG] ([MADU])
GO
ALTER TABLE [dbo].[DOUONG]  WITH CHECK ADD FOREIGN KEY([MALOAIDOUONG])
REFERENCES [dbo].[LOAIDOUONG] ([MALOAIDOUONG])
GO
/****** Object:  StoredProcedure [dbo].[getfoodbyname]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[getfoodbyname]
as select TEN,GIA FROM DOUONG 


GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountByUserName]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USP_GetAccountByUserName]
@userName nvarchar(100)
AS
BEGIN
    SELECT * FROM TAIKHOAN WHERE TENTAIKHOAN = @userName
END


GO
/****** Object:  StoredProcedure [dbo].[USP_GetlistbillbyDate]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc  [dbo].[USP_GetlistbillbyDate] 
@thoigian1 date,
@thoigian2 date
as
begin
SELECT TONG,THOIGIAN  
FROM HOADON 
 where THOIGIAN between @thoigian1 and @thoigian2
 end

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USP_InsertBill]
@tong float
AS
BEGIN
    INSERT HOADON
            ( THOIGIAN,
				TONG
            )
    VALUES ( GETDATE(),
			@tong
            )
END


GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idFood INT, @count INT
AS
BEGIN
    DECLARE @isExitsBillInfo INT;
    DECLARE @foodCount INT = 1;
    SELECT @isExitsBillInfo = id, @foodCount = b.SOLUONG 
    FROM CHITIETHOADON AS b 
    WHERE ID = @idBill AND MADU = @idFood
    IF (@isExitsBillInfo > 0)
    BEGIN
        DECLARE @newCount INT = @foodCount + @count
        IF (@newCount > 0)
            UPDATE CHITIETHOADON SET SOLUONG = @foodCount + @count WHERE MADU = @idFood
        ELSE
            DELETE CHITIETHOADON WHERE MAHOADON = @idBill AND MADU = @idFood
    END
    ELSE
    BEGIN
        INSERT CHITIETHOADON
            (MAHOADON,
            MADU,
            SOLUONG
            )
    VALUES ( @idBill,
            @idFood,
            @count
            )
    END
END


GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
        /**
        * Tạo thủ tục USP_Login
        */
CREATE PROC [dbo].[USP_Login]
@userName nvarchar(100),
@passWord nvarchar(100)
AS
BEGIN
    SELECT * FROM TAIKHOAN WHERE TENTAIKHOAN = @userName AND MATKHAU = @passWord
END


GO
/****** Object:  StoredProcedure [dbo].[USP_TableBill]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 create proc [dbo].[USP_TableBill]
 @id int
 as
 begin
select b.TEN,a.SOLUONG,b.GIA from CHITIETHOADON as a, DOUONG as b WHERE MAHOADON =@id AND a.MADU=b.MADU
end

GO
/****** Object:  StoredProcedure [dbo].[USP_TongHoaDon]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
 create proc [dbo].[USP_TongHoaDon]
 @thoigian1 date, @thoigian2 date
 as
 begin
 select  SUM(TONG)AS 'Tổng hóa đơn' from HOADON where THOIGIAN between @thoigian1 and @thoigian2
 end


GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 15/01/2021 1:36:16 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/**
        * Tạo Thủ tục USP_UpdateAccount
        */
CREATE PROC [dbo].[USP_UpdateAccount]
@userName NVARCHAR(100), @displayName NVARCHAR(100), @password NVARCHAR(100), @newPassword NVARCHAR(100)
AS
BEGIN
    DECLARE @isRightPass INT = 0
    
    SELECT @isRightPass = COUNT(*) FROM TAIKHOAN WHERE TENTAIKHOAN = @userName AND MATKHAU = @password
    
    IF (@isRightPass = 1)
    BEGIN
        IF (@newPassword = NULL OR @newPassword = '')
        BEGIN
            UPDATE TAIKHOAN SET TENHIENTHI = @displayName WHERE TENTAIKHOAN = @userName
        END     
        ELSE
            UPDATE TAIKHOAN SET TENHIENTHI = @displayName, MATKHAU = @newPassword WHERE TENTAIKHOAN = @userName
    end
END


GO
USE [master]
GO
